/*styles edited by stalin*/
.profileDesc p{font-size: 18px !important;line-height: 25px !important;color:#5F5F63 !important;}
.media_first a, .post-entry a, .super_recent_posts_item_title, .media_full_content h2{font-weight: normal !important;color: #5e5e5f !important;text-transform:uppercase;}
.super_recent_posts_item_title{display:block; margin-top:8px;}
.super_recent_posts_item_title span, .media_full_content h2 span{text-transform: none;margin-left: 7px;}
.profileDesc .entry-content p{font-size: 14px!important;line-height: 19px !important;}

/*--------media styles-------------------*/
#media{padding-top:57px !important;height:210px !important;}
#media h1{color:#5e5d65 !important;}
#super_recent_posts_widget-2{margin-top:13px;}
.media_second, .media_third{top:104px !important;}
.media_second .post-entry{width:160px;}
#media_link .media_full_content  p{padding-bottom:14px !important;color:#5e5e5f !important;line-height: 17px;}
.media_full_content h2{margin-bottom:30px;}
/*.media_full_content  p{font-family:Conv_Times Italic !important;}*/


/*may-02 styles*/
#access ul{padding-right:0px !important;padding-left:0px !important;float:right;width:auto !important;}
#access ul.menu{margin-top:9px;}
#access{float:right;}

#access ul li a{margin-left:18px;width:132px !important;}
#access ul li ul li{padding-left:0px !important;}
#access ul li ul li a{text-align:left;}
.sub-menu{padding-top:10px;}

body{overflow: visible !important;}
/*------------------------------------------------------------------------------*/

.responsiveSelectContainer select.responsiveMenuSelect, select.responsiveMenuSelect{height:35px;}
.responsiveSelectContainer{text-align:center;}

.hentry, .no-results{margin:0 !important; padding:0 !important;}
.widget.super_recent_posts{margin-bottom:0px !important;}

/*------------ for mobile menu-------------*/
.container {
    width: 90%;
    max-width: 900px;
    margin: 10px auto;
}
#access a.toggleMenu {
    display:  none;
    background: #666;
    padding: 10px 15px;
    color: #fff;
}
.nav {
    list-style: none;
     *zoom: 1;
     background:#175e4c;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 9em;
}
.nav a {
    padding: 10px 15px;
    color:#fff;
}
.nav li {
    position: relative;
}
.nav > li {
    float: left;
    border-top: 1px solid #104336;
}
.nav > li > .parent {
    background-image: url("images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}
.nav > li > a {
    display: block;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}
.nav li li a {
    display: block;
    background: #1d7a62;
    position: relative;
    z-index:100;
    border-top: 1px solid #175e4c;
}
.nav li li li a {
    background:#249578;
    z-index:200;
    border-top: 1px solid #1d7a62;
}

/*------------------------------------------------*/




/*p.content{max-height:268px;}*/
/* =Responsive Structure
----------------------------------------------- */

@media (max-width: 800px) {
	/* Simplify the basic layout */
	#main #content {
		margin: 0 7.6%;
		width: auto;
	}
	#nav-below {
		border-bottom: 1px solid #ddd;
		margin-bottom: 1.625em;
	}
	#main #secondary {
		float: none;
		margin: 0 7.6%;
		width: auto;
	}
	/* Simplify the showcase template */
	.page-template-showcase-php .featured-posts {
		min-height: 280px;
	}
	.featured-posts section.featured-post {
		height: auto;
	}
	.page-template-showcase-php section.recent-posts {
		float: none;
		margin: 0;
		width: 100%;
	}
	.page-template-showcase-php #main .widget-area {
		float: none;
		margin: 0;
		width: auto;
	}
	.page-template-showcase-php .other-recent-posts {
		border-bottom: 1px solid #ddd;
	}
	/* Simplify the showcase template when small feature */
	section.featured-post .attachment-small-feature,
	.one-column section.featured-post .attachment-small-feature {
		border: none;
		display: block;
		float: left;
		height: auto;
		margin: 0.625em auto 1.025em;
		max-width: 30%;
		position: static;
	}
	article.feature-image.small {
		float: right;
		margin: 0 0 1.625em;
		width: 64%;
	}
	.one-column article.feature-image.small .entry-summary {
		height: auto;
	}
	article.feature-image.small .entry-summary p a {
		left: 0;
		padding-left: 20px;
		padding-right: 20px;
		width: auto;
	}
	/* Remove the margin on singular articles */
	.singular .entry-header,
	.singular .entry-content,
	.singular footer.entry-meta,
	.singular #comments-title {
		width: 100%;
	}
	/* Simplify the pullquotes and pull styles */
	.singular blockquote.pull {
		margin: 0 0 1.625em;
	}
	.singular .pull.alignleft {
		margin: 0 1.625em 0 0;
	}
	.singular .pull.alignright {
		margin: 0 0 0 1.625em;
	}
	.singular .entry-meta .edit-link a {
		left: 0;
		position: absolute;
		top: 40px;
	}
	.singular #author-info {
		margin: 2.2em -8.8% 0;
		padding: 20px 8.8%;
	}
	/* Make sure we have room for our comment avatars */
	.commentlist {
		width: 100%;
	}
	.commentlist > li.comment,
	.commentlist .pingback {
		margin-left: 102px;
		width: auto;
	}
	/* And a full-width comment form */
	#respond {
		width: auto;
	}
	/* No need to float footer widgets at this size */
	#colophon #supplementary .widget-area {
		float: none;
		margin-right: 0;
		width: auto;
	}
	/* No need to float 404 widgets at this size */
	.error404 #main .widget {
		float: none;
		margin-right: 0;
		width: auto;
	}
	/*.logo{
	width: 30.7%;}*/
	#access ul li{
	width: 16%;}
#access ul li a{width: auto !important;}
#access ul li{font-size:16px;}
.logo{margin-bottom:8px;}
}

@media (max-width: 680px) {
  
}

@media (max-width: 650px) {
	/* @media (max-width: 650px) Reduce font-sizes for better readability on smaller devices */
	body, input, textarea {
		font-size: 13px;
	}
	#site-title a {
		font-size: 24px;
	}
	#site-description {
		font-size: 12px;
	}
	#access ul {
		font-size: 12px;
	}
	article.intro .entry-content {
		font-size: 12px;
	}
	.entry-title {
		font-size: 21px;
	}
	.featured-post .entry-title {
		font-size: 14px;
	}
	.singular .entry-title {
		font-size: 28px;
	}
	.entry-meta {
		font-size: 12px;
	}
	blockquote {
		margin: 0;
	}
	blockquote.pull {
		font-size: 17px;
	}
	/* Reposition the site title and description slightly */
	#site-title {
		padding: 5.30625em 0 0;
	}
	#site-title,
	#site-description {
		margin-right: 0;
	}
	/* Make sure the logo and search form don't collide */
	#branding #searchform {
		top: 1.625em !important;
	}
	/* Floated content doesn't work well at this size */
	.alignleft,
	.alignright {
		display: block;
		float: none;
		margin-left: 0;
		margin-right: 0;
	}
	/* Make sure the post-post navigation doesn't collide with anything */
	#nav-single {
		display: block;
		position: static;
	}
	.singular .hentry {
		padding: 1.625em 0 0;
	}
	.singular.page .hentry {
		padding: 1.625em 0 0;
	}
	/* Talking avatars take up too much room at this size */
	.commentlist > li.comment,
	.commentlist > li.pingback {
		margin-left: 0 !important;
	}
	.commentlist .avatar {
		background: transparent;
		display: block;
		padding: 0;
		position: static;
	}
	.commentlist .children .avatar {
		background: none;
		left: 2.2em;
		padding: 0;
		position: absolute;
		top: 2.2em;
	}
	/* Use the available space in the smaller comment form */
	#respond input[type="text"] {
		width: 95%;
	}
	#respond .comment-form-author .required,
	#respond .comment-form-email .required {
		left: 95%;
	}
	#content .gallery-columns-3 .gallery-item {
		width: 31%;
		padding-right: 2%;
	}
	#content .gallery-columns-3 .gallery-item img {
		width: 100%;
		height: auto;
	}

}


@media (max-width: 450px) {
	#content .gallery-columns-2 .gallery-item {
		width: 45%;
		padding-right: 4%;
	}
	#content .gallery-columns-2 .gallery-item img {
		width: 100%;
		height: auto;
	}
/*#access{width:100%; text-align:center;}*/
select.responsiveMenuSelect{width: 288px!important; margin-left: 0px;}

}



/* =Print
----------------------------------------------- */

@media print {
	body {
		background: none !important;
		font-size: 10pt;
	}
	footer.entry-meta a[rel=bookmark]:link:after,
	footer.entry-meta a[rel=bookmark]:visited:after {
		content: " [" attr(href) "] "; /* Show URLs */
	}
	#page {
		clear: both !important;
		display: block !important;
		float: none !important;
		max-width: 100%;
		position: relative !important;
	}
	#branding {
		border-top: none !important;
		padding: 0;
	}
	#branding hgroup {
		margin: 0;
	}
	#site-title a {
		font-size: 21pt;
	}
	#site-description {
		font-size: 10pt;
	}
	#branding #searchform {
		display: none;
	}
	#branding img {
		display: none;
	}
	#access {
		display: none;
	}
	#main {
		border-top: none;
		box-shadow: none;
	}
	#primary {
		float: left;
		margin: 0;
		width: 100%;
	}
	#content {
		margin: 0;
		width: auto;
	}
	.singular #content {
		margin: 0;
		width: 100%;
	}
	.singular .entry-header .entry-meta {
		position: static;
	}
	.entry-meta .edit-link a {
		display: none;
	}
	#content nav {
		display: none;
	}
	.singular .entry-header,
	.singular .entry-content,
	.singular footer.entry-meta,
	.singular #comments-title {
		margin: 0;
		width: 100%;
	}
	.singular .hentry {
		padding: 0;
	}
	.entry-title,
	.singular .entry-title {
		font-size: 21pt;
	}
	.entry-meta {
		font-size: 10pt;
	}
	.entry-header .comments-link {
		display: none;
	}
	.page-link {
		display: none;
	}
	.singular #author-info {
		background: none;
		border-bottom: none;
		border-top: none;
		margin: 2.2em 0 0;
		padding: 0;
	}
	#respond {
		display: none;
	}
	.widget-area {
		display: none;
	}
	#colophon {
		display: none;
	}

	/* Comments */
	.commentlist > li.comment {
		background: none;
		border: 1px solid #ddd;
		-moz-border-radius: 3px 3px 3px 3px;
		border-radius: 3px 3px 3px 3px;
		margin: 0 auto 1.625em;
		padding: 1.625em;
		position: relative;
		width: auto;
	}
	.commentlist .avatar {
		height: 39px;
		left: 2.2em;
		top: 2.2em;
		width: 39px;
	}
	.commentlist li.comment .comment-meta {
		line-height: 1.625em;
		margin-left: 50px;
	}
	.commentlist li.comment .fn {
		display: block;
	}
	.commentlist li.comment .comment-content {
		margin: 1.625em 0 0;
	}
	.commentlist .comment-edit-link {
		display: none;
	}
	.commentlist > li::before,
	.commentlist > li.bypostauthor::before {
		content: '';
	}
	.commentlist .reply {
		display: none;
	}

	/* Post author highlighting */
	.commentlist > li.bypostauthor {
		color: #444;
	}
	.commentlist > li.bypostauthor .comment-meta {
		color: #666;
	}
	.commentlist > li.bypostauthor:before {
		content: none;
	}

	/* Post Author threaded comments */
	.commentlist .children > li.bypostauthor {
		background: #fff;
		border-color: #ddd;
	}
	.commentlist .children > li.bypostauthor > article,
	.commentlist .children > li.bypostauthor > article .comment-meta {
		color: #666;
	}

}


/* =IE7
----------------------------------------------- */

#ie7 article.intro {
	margin-left: -7.6%;
	margin-right: -7.6%;
	/*padding-left: -7.6%;
	padding-right: -7.6%;*/
	max-width: 1000px;
}
#ie7 section.featured-post {
	margin-left: -7.6%;
	margin-right: -7.6%;
	max-width: 850px;
}
#ie7 section.recent-posts {
	margin-right: 7.6%;
}

/* =IE8
----------------------------------------------- */

#ie8 section.feature-image.large img {
	width: 100%;
}

/* ------------------- Website CSS -------------------- */
header
{
	background:#373c4e;
	padding:0px;
	z-index:1111;
	height: 100px;
    overflow: hidden;
}
.logo
{ 
	/*width:23.5%;*/
	float:left;
	margin:9px 0% 0% 0px;
	padding:20px 4.3% 29px 3.1%;
	background: url("../images/vdot.png") repeat-y right top transparent;
}
/*.menu-header{margin-left:78px;}*/
.logo a
{
	cursor:pointer;
	outline:none;
}
.leftContainer
{
	float:left;
	width:25%;
	position: relative;
}
.rightContainer
{
	float:right;
	width:74.8%;
}
.leftbar,.leftbars {
    /*height: 100%;*/
    overflow: hidden;
    width: 100%;
}
.leftbarimg2 img{height:211px !important;}
.leftbarimg2,.leftbarimgs,#leftbarimg2{overflow:hidden;}
.HomeBody .rightbarimg1 img{height:initial;}
.leftbar img, .leftbarimg2 img,  .rightbarimg1 img , .rightbarimg2  img ,.rightbarimg3 img, .popupRightContainer img{ opacity:0;float:left; height:auto; margin-left:-1px;}
.rightbarimg2 img{height:374px;opacity:0;width:242px;}
.portfolioLarge img {  float:left; height:auto; }
.blueBG img {  float:left; max-width:100%; height:auto; }
.verticalText{width:24.0740%;}
.verticalText img {  float:left; max-width:100%; height:auto; }

.leftbarimg2{
    margin-top: 0.4%;
    width: 100%;
	position:relative;
}
.leftbarimgs {
 margin-top: -1%;
    width: 100%;
	position:relative;}
	#leftbarimg2 {
 margin-top: 0.8%;
    width: 100%;
	position:relative;}
.rightbarimg1
{
	
    overflow: hidden;
    width: 58%;
	float:left;
	margin-left:1px;
}
.rightbarDesc
{
	/*width:30%;*/
	/*width:29.6%;*/
	width:41.61%;
	float:left;
	background:#eaeaea;
	margin-left:2px;
	color:#5e5d65;
	min-height:261px;
	font-size:18px;
	opacity:0;
}
.rightbarDesc p
{
   font-family: Conv_Times-Roman;
	padding:70px 46px 10px 49px; }
	
.rightbarimg2,.rightbarimgs
{
	overflow: hidden;
    width: 29.5%;
	float:left;
	margin-top:3px;
	margin-left:1px;
}
.rightbarimgs{margin-top:2px;}
.rightbarimgs img{float:left;}
.rightbarimg3
{
	overflow: hidden;
  width: 69.7%;
	float:left;
	margin-top:3px;
	margin-left:5px;
}
#panel, #panel1
{

background:#454e61;
padding-top:75px;
min-height:177px;
}
.profileDesc
{
	width:88.2%;
	float:left;
	background:#eaeaea;
	padding:40px 5.8% 0% 5.8%;
	margin-left:2px;
	color:#5e5d65;
	font-size:15px;
	line-height:20px;
	height:228px;
	
}
.profileDesc h1
{
	font-size: 30px;
	padding-bottom:10px;
	font-family: Conv_PFDinTextPro-Hairline;
	color:#494E60;
	font-weight: 600;
	
}
.bodyContainer
{
	z-index:-1;
	position:absolute;
	width:100%;
	top:100px;
	min-height: 600px;
	left:0px;
	padding-bottom: 20px;
}

.profileDesc p
{	
	padding:2px 0px 0px 0px;
	font-family: Conv_Times-Roman;
		color:#494E60;
	font-size: 14px;
	
}
select.sel{display:none;}
.profileDesc1
{
	/*width:70%;*/
	width:58.25%;
	float:left;
	background:#d6d6d5;
	padding:34px 6%;
	color:#5e5d65;
	font-size:15px;
	line-height:24px;
	margin-top:2px;
	margin-left:1px;
	height:25%;
	height:300px;
	/*box-sizing: border-box; */
	font-family: Conv_Times-Roman;
	
}
#ie8 .profileDesc1{padding:34px 6% 34px 5.925%;}
.profileDesc1 p
{	
	padding-bottom:40%;
	color:#5c5e69;
}
.contentArea 
{
	padding-top:8px;
	margin-left: 30px;
	line-height:19px!important;
}
.contentArea p
{
	padding-bottom:2px!important;
	padding-top:0px!important;
}
.linkColor { color:#5c5e69; text-decoration:none;}
.defaultAlign { padding-bottom:32.2%; }
.mediaDesc
{
	background:#d6d6d5;
	float:left;
	width:100%;
	padding-top:37px;
	min-height:382px;
}
.leftSideNavigation
{
	width:100%;
	/*height:382px;*/
	font-family: Conv_PFDinTextPro-Regular;
}
.leftSideNavigation ul
{
	padding:0% 14.5% 25.4% 14.5%;
}
.leftSideNavigation ul li
{
	display:block;
	list-style-type:none;
	/*padding:0% 0% 0.5% 5%;*/
}
.leftSideNavigation ul li h2 
{
	font-size:20px;
	color:#435475;
	padding-bottom:1.5%;
}
.leftSideNavigation ul li a
{	
	color:#435475;
	padding-bottom: 4px;
	text-decoration:none;
	font-size:0.89em;
}
.leftSideNavigation ul li a:hover
{
	font-weight:bold;
}
.mediaTxt { color:#8A8A8A !important; font-size:18px !important; line-height:25px; padding-bottom:0px !important; font-family: Conv_Times Italic !important; }
.grayBG { background:#eaeae9; padding: 11.7% 18.4% 0% 18.4%; /*padding: 17% 18.4% 0% 18.4%; height:327px;*/ min-height:340px;}
#mediaDesc {
width: 58.33%;
float: left;
background: #eaeae9;
padding: 5% 5.8% 0% 5.8%;
color: #5e5d65;
font-size: 15px;
line-height: 25px;
margin-top: 0.4%;
margin-left: 0.4%;
min-height:327px;

}
.rightContainerBG
{
	background:#eaeae9;
	padding:45px 45px 10px 45px;
	color:#5e5e5f;
	min-height:583px;
}
.rightContainerBG p
{
	padding-top:10px;
}
.pageLink ul
{
	float:right;
	padding-right:5%;
	margin-top:1.5%;
}
.pageLink ul li
{
	border-right:1px solid #5e5e5f;
	list-style-type:none;
	padding:0 10px;
	float:left;
	line-height:12px;
}
.pageLink ul li a
{
	color:#5e5e5f;
	text-decoration:none;
}
.pageLink ul li a:hover
{
	font-weight:bold;
}
.lastLink
{
	border-right:none !important;
}
.blueBG
{
	background:#63708a;
	
}
.verticalText
{
	bottom:0px;right: 0;position: absolute;z-index: 1111;
}
.popupContainer
{
	width:100%;
	margin:0px auto;
	position:absolute;
	top:25.6%;
}
.popupBox
{
	background:#333;
	height:100%;
	/*width:886px;*/
	width:65.7%;
	margin:0px auto;
}
.popupPad
{
	padding:3.4%;
}
.popupLeftContainer
{
	width:38.1%;
	float:left;
	color:#eaeae9;
}
.popupLeftContainer p
{
	padding-top:10px;
	line-height:20px;
}
.popupLeftContainer p span
{
	display:block;
}
.popupLeftContainer p span a
{
	color:#a7b0c3;
	text-decoration:none;
}
.popupRightContainer
{
	width:58.7%;
	float:right;
}
.slidePagination
{
	float:right;
}
.slidePagination ul
{
	padding-top:7.2%;
	float:left;
	width:100%;
	
}
.slidePagination ul li
{
	
	float:left;
	margin-left:4px;
	list-style-type:none;
	background:#b9bcc0;
	line-height:14px;
}
.slidePagination ul li a
{
	padding:2px 7px;
	
}
.slidePagination ul li:hover
{
	background:#63708a;
}
.selectSlide
{
	background:#63708a!important;
}
.popupclose
{
	position:absolute;
	top:1.8%;
	left:80.7%;
}

#profileleftbar {
    /*height: 100%;*/
    overflow: hidden;
    width: 100%;
}
.padTop15px { padding-top:15px;}




/*-------------- pop up styling------------------*/
div.pp_overlay{background: none !important;}
div.pp_pic_holder{width:68% !important; left:50% !important; margin-left: -34% !important;top: 150px !important;}
div.pp_default .pp_content{width: 100% !important;background: #494E60!important;/*height: 520px !important;*/height:auto !important; overflow:hidden; position: relative;}
.portfolio_contents{width: 33.8%;float: left;margin-left: 3.2%;}
div.pp_default #pp_full_res .pp_inline{width: 100%;float: left;}
.bx-wrapper{width: 54.33%;float: right; margin: 0 31px 19px 0px !important;}
div.pp_default .pp_top .pp_left{background: none !important;}
div.pp_default .pp_top .pp_middle{background: none !important;}
div.pp_default .pp_content_container .pp_left{background: none !important;}
div.pp_default .pp_top .pp_right{background: none !important;}
div.pp_default .pp_content_container .pp_right{background: none !important;}
/*a.pp_close{top: -547px!important;right: -387px!important;}*/
.bx-wrapper .bx-viewport{-moz-box-shadow: none !important;-webkit-box-shadow: none !important;box-shadow: none !important;border: none !important;background: none !important;}
.portfolio_contents h1{margin: 35px 0 0 0;color: #fff;font-family: Conv_PFDinTextPro-Hairline;font-weight: 600;}
.portfolio_contents p{color: #fff; margin: 10px 0 15px 0 !important;font-family: Conv_PFDinTextPro-Regular;}
.bx-wrapper .bx-viewport{margin: 29px 0px 35px 0px!important; width:100% !important;float:right; left:0 !important; }
.bx-wrapper .bx-pager{bottom: 0px !important;right: 0px !important; margin-right:30px !important;}
.portfolio_contents a{color: #a7b0c3;text-decoration: none;font-family: Conv_PFDinTextPro-Regular;}
.portfolio_contents p.content{line-height: 25px;font-family: Conv_PFDinTextPro-Regular;}
.bx-controls-direction a.bx-next{right: -14px;background: url(../images/rightNav.png) no-repeat 0px 0px;}
div.pp_default .pp_close{background: url(../images/close.png) 2px 1px no-repeat!important;top: 8px;}
.bx-wrapper .bx-controls-direction a{width: 26px!important;height: 52px!important;}
.bx-wrapper .bx-prev{background: url(../images/leftNav.png) 0px 0px no-repeat!important;width: 26px!important;height: 52px!important;left:0px !important;}
.bx-wrapper a.bx-next{right:0px !important;}
.bx-wrapper .bx-next:hover{background-position: 0px 0px!important;}
.portfolio_contents a.manage{position: relative;top: 10px;}
/*.bx-wrapper .bx-controls-direction a{margin-left: 20px;}*/

div.pp_default .pp_details{position:static !important;}
.bx-wrapper .bx-pager{text-align:right !important;}
.bx-wrapper img{width:100%;}
.bx-wrapper .bx-pager.bx-default-pager a{width: 15px !important; height: 15px !important; border-radius: 0 !important;
-moz-border-radius: 0 !important;-webkit-border-radius: 0 !important;}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{background: #646E88 !important; color:#646E88 !important;}
.bx-wrapper .bx-pager.bx-default-pager a{background: #B8BABF !important;color:#B8BABF !important; }




/*media queries*/
/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-width : 1079px){
#page {
	margin: 0px auto;
	width: 1079px;
	position: relative;
}
}

@media only screen and (min-width : 1020px) and (max-width : 1079px) {
#page{ width:1000px !important; }


/*.logo
{
	height:36px;
	width:100%;
	padding:2.5% 0% 3.5% 0%;
	text-align:center;
	float:none;
}
.logo{width: 36%;}*/
#access ul li{width: 15%;/*padding: 2.5% 0% 6.8% 1.5%;*/}
/*select.sel{display:block; width:100%; padding:2% 2%; text-align:center; border:1px solid #ccc;}*/
nav.navigation{width:100%;}
nav#access ul { width:100%; float:none; margin-top: 1%;}

.leftbar,.leftbars { display:block;}
.leftbarimg2,.leftbarimgs,#leftbarimg2 { display:block; }
.rightContainer { width:74.8%; }
.rightbarimg1 { float:left; width:57%;}
.rightbarDesc { margin-left:0.4%; width:42%; /*padding:8.4% 5.8% 0% 5.8% !important;*/ position:relative; }
.rightbarimg2  { display:block; margin-left:0.1%; }

.rightbarimg3 { width:69.1%; margin-left:0.2%;}
.rightbarimg3 img { margin-left:0.4%; }
.profileDesc {   margin-left:0%;padding: 40px 5.8% 0% 5.8%; }
.profileDesc1 {  margin-left:0%;}
/*.profileDesc1 p { padding-bottom:10%!important; }*/
.leftbar  .mediaDesc { float:none; }
.leftbars .mediaDesc{float: none;}
#mediaDesc {margin-left:0.2%; }

.media #mediaDesc { width:57.6%; float:left; margin-left:0.4%; }
.media .equal_height { min-height:228px !important; }
.contact .profileDesc1 { width: 70%; }
.contact .defaultAlign{ padding-bottom:28%; }
.portfolio .popupLeftContainer { float:left; width:39%; }
.portfolio .popupBox { width:90%;  }
.portfolio .popupRightContainer  { float:right; width:55%; margin-right:1%;}
.portfolio .popupLeftContainer h1 { font-size:30px; }
.slidePagination ul { padding-top: 7.2%; float: left; width: 100%; }
.portfolio .popupclose { position: absolute; top: 1.8%; left: 91.3%;}
}
@media only screen and (max-width : 1100px)  {
 #page{  width:100% !important; } 
}
@media only screen and (max-width : 940px) {
  #media{height:579px !important;}
  .media_second, .media_third{position:static;width:100%;border-top:1px solid #fff;}
  .grayBG, #mediaDesc, #ri_img2{display:none;}
}

@media only screen and (max-width : 870px) {
  #access ul li{width:130px !important;}
}
/*@media only screen and (min-width : 480px)and (max-width : 768px) {
  .logo{padding-right:10px;padding-left:10px;}
}*/

@media only screen and (min-width : 800px) and (max-width : 1020px) {
/* Styles */
/*.bodyContainer{	top:100.1%;}*/
#page
{
	width:100% !important;
}

/*.logo
{
	height:36px;
	width:100%;
	padding:2.5% 0% 3.5% 0%;
	text-align:center;
	float:none;
}*/

/*select.sel{display:block; width:100%; padding:2% 2%; text-align:center; border:1px solid #ccc;}*/
nav.navigation{width:100%;}
/*nav#access ul { width:100%; float:none; }*/

.leftbar,.leftbars { display:block;}
.leftbarimg2,.leftbarimgs ,#leftbarimg2{ display:block; }

.rightContainer { width:74.8%; }
.rightbarimg1 { float:left; width:57%;}
.rightbarDesc { margin-left:0.4% !important; width:42%;  font-size: 16px!important; /*padding: 5.0% 4.8% 0% 4.8%;*/ position:relative; }
.rightbarimg2  { display:block; height: 374px;}
.rightbarDesc p { padding: 32px 36px 10px 36px; }
/*.profileDesc{height: 236px;}*/
.rightbarimg3 { width:69%; margin-left:0.4%;}
.grayBG{min-height: 355px;}
.profileDesc {  margin-left:0%; }
.profileDesc1 {  margin-left:0.4%;height: 300px;width: 57.8%;}
/*.profileDesc1 p { padding-bottom:10%!important; }*/
.leftbar  .mediaDesc { float:none; }
.leftbars .mediaDesc{float: none;}
#mediaDesc { margin-left:0.3%;min-height: 324px; }
.profile .profileDesc1 { width:69.6%; margin-left:0.4%; }
.profile .profileDesc 
{
	width:100%;
	float: none;
	background: #eaeaea;
	padding: 3% 5.8% 3% 5.8%;
	margin-left: 0%;
	color: #5e5d65;
	font-size: 12px;
	line-height: 19px;
	height: 100%;
	position:relative;
}
.media .mediaTxt { font-size:14px; }
.media #mediaDesc { width:58%; margin-left:0.4%; min-height: 372px;}
.media .profileDesc  { padding:4% 5.8% 3% 5.8%; height:100%; }
.media .profileDesc p { padding: 15px 0px 0px 0px; }
.media .grayBG { min-height:372px; }

.portfolio .mediaDesc { min-height:100%; }
/*.portfolio .leftSideNavigation ul { padding: 0% 14.5% 76.5% 14.5%; }*/

.contact .profileDesc1 { width: 69.6%; margin-left: 0.4%; }
.contact .defaultAlign{ padding-bottom:12%; }

.portfolio .popupLeftContainer { float:left; width:39%; }
.portfolio .popupBox { width:90%;  }
.portfolio .popupRightContainer  { float:right; width:55%; margin-right:1%;}
.portfolio .popupLeftContainer h1 { font-size:30px; }
.slidePagination ul { padding-top: 7.2%; float: left; width: 100%; }
.portfolio .popupclose { position: absolute; top: 1.8%; left: 91.3%;}
.portfolio_contents h1{font-size: 27px !important;}
.portfolio_contents p.content{line-height: 14px !important; }
}


@media only screen and (max-width : 800px) {
/* Styles */
.align{padding-left: 6px !important;}
/*#header{
	height:150px;}*/
#page{
	width:100% !important;}
/*.bodyContainer
 {
z-index: -1;
position: absolute;
width: 100%;
top: 100%;
left: 0px;
}*/
.logo{width:100%;text-align:center;padding:0px !important;}
  #access{float: left;width: 430px;position: relative;left: 50%;margin-left: -215px;}
  
  #access ul.menu{margin-top:0px;}
	#access ul li{width:107px !important;padding: 13px 0% 15px 0% !important;}
	#access ul li a{width:auto !important;text-align:left;}
  #access .sub-menu{text-align: left;}
  #access .sub-menu li a{width: auto !important;padding-left:18px;margin-left:0 !important;} 
.logo{/*width: 33.7%;margin-top : 8%;*/background: none ;}
/*select.sel{display:block; width:100%; padding:2% 2%; text-align:center; border:1px solid #ccc;} 
nav.navigation{display:none;}*/
nav.navigation{width:100%;}
nav#access ul { width:100%; float:none; }

/*div.pp_default .pp_content{height: 365px !important;}*/
.leftbar,.leftbars { display:block;}
.leftbarimg2 ,.leftbarimgs,#leftbarimg2{ display:block; }
.leftbarimgs img{height:214px;}
.rightContainer { width:75%; }
.rightbarimg1 { float:left; width:57%; margin-left:0.4%;}
.rightbarimg3 { float:left; width:69.2%; margin-left:0.4%;}
.rightbarDesc { float:left; width:42%;  margin-left:0.4%; /*padding: 5.4% 5.8% 0% 5.8%;*/ font-size:12px;}
.rightbarimg2  { float:left;  margin-left:0.4%; /*height: 200px;*/}

.rightbarDesc p { padding: 20px 20px 10px 20px; }
.profileDesc
{
	float: none;
	background: #eaeaea;
	padding-top: 18px;
	margin-left: 0%;
	color: #5e5d65;
	font-size: 15px;
	line-height: 19px;
	height: 250px;
	position:relative;	
}
#media{height: 211px;}

.profileDesc1 {  margin-left: 0.5%; margin-top: 2px;height: 300px;width: 57.5%;}
/*.profileDesc1 p { padding-bottom:15% !important; }*/
#mediaDesc { margin-left:0.4%;/*width: 88%;*/width: 57.5%;min-height: 365px; }
.profile  .rightbarimg2 { display:none; }
.grayBG{min-height: 374px;}
.profile .profileDesc 
{
	width: 100%;
	float: none;
	background: #eaeaea;
	padding: 4% 5.8% 5% 5.8%!important;
	margin-left: 0%;
	color: #5e5d65;
	font-size: 15px;
	line-height: 19px;
	height: 100%;
	position: relative;
	font-size:12px;
}
.profile .profileDesc p { padding-top:15px; }
.profile .profileDesc1 { font-size:12px; line-height:25px; padding:5% 5.8% 0% 5.8%; }
.profile .profileDesc1  p { padding-bottom:22%; }



.media .leftContainer
{
	width:25%!important;
	float:left;
}
.media #mediaDesc
{
	width:88%; height:100%;
}
.media .leftbarimg2{ display:block; }
.media #leftbarimg2{ display:block; }
.media .leftbarimgs { display:block; }
.media .rightContainer { width:74.8%; }
.media .rightbarimg2 { width:100%; margin-left:0%; }
.media .grayBG {
background: #eaeae9;
padding: 5% 18.4% 5% 5%;
min-height:100%;
}
.media .leftSideNavigation { height:0%; }
.media .profileDesc { padding-top:6%; }
.media #mediaDesc { min-height:100%; padding-bottom:10.9%; }
.media .rightContainerBG { background: #eaeae9; padding: 15px 20px 10px 20px; color: #5e5e5f;}

.portfolio  .leftContainer { float:left; }
.portfolio .rightContainer { float:left;}
.portfolio .leftContainer .leftbar { display:block; }
.portfolio .leftContainer .leftbars { display:block; }
.portfolio .mediaDesc { padding-top:7.5%; min-height:100%;}
/*.portfolio .leftSideNavigation ul { padding: 0% 14.5% 63.4% 14.5%; }*/
.portfolio .leftbarimg2 { display:block; }
.portfolio #leftbarimg2 { display:block; }
.portfolio .leftbarimgs { display:block; }
.contact .profileDesc1 {
width: 69.2%;
margin-left: 0.4%;
}
.contact .profileDesc { padding-top:5%; }
.contact .profileDesc1 { padding: 2% 5.8% 6% 5.8%; }
.contact .profileDesc p { padding-top:15px; }
.contact .defaultAlign  { padding-bottom:10%; }

.portfolio .popupLeftContainer { float:left; width:39%; }
.portfolio .popupBox { width:90%;  }
.portfolio .popupRightContainer  { float:right; width:55%; margin-right:1%;}
.portfolio .popupLeftContainer h1 { font-size:30px; }
.slidePagination ul { padding-top: 7.2%; float: left; width: 100%; }
.portfolio .popupclose { position: absolute; top: 1.8%; left: 91.3%;}
.portfolio_contents h1{font-size: 24px;}
.portfolio_contents p{font-size: 11px;}
.portfolio_contents p.content{line-height: 14px!important;}
}
@media only screen and (max-width : 860px) { 
#media{height: 579px !important;}
}


@media only screen and (max-width : 800px) {
.logo{width:100%;text-align:center;padding:0px !important;margin-bottom:8px;}
  #access{float: left;width: 430px;position: relative;left: 50%;margin-left: -215px;}
  
  #access ul.menu{margin-top:0px;}
	#access ul li{width:107px !important;padding: 13px 0% 15px 0% !important;}
	#access ul li a{width:auto !important;text-align:left;}
  #access .sub-menu{text-align: left;}
  #access .sub-menu li a{width: auto !important;padding-left:18px;margin-left:0 !important;}  
  
  /*container styles*/
  .profileDesc{
    overflow-y:scroll;
  }
}

/*-----------mobile menu-------------*/

/*-----------------------------------*/




/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 645px) { .bx-wrapper{left:50% !important; margin-left:-27.15% !important; clear:both; float:left;} 
.bx-wrapper .bx-controls-direction a{width:20px !important; height:40px !important; background-size: 100% 100% !important;}

/*portfolio page design*/
.left_contents_one{width:100% !important;min-height: 100px !important;}
.left_contents_one{width:100% !important;min-height: 100px !important;}
.align{width:100% !important; float:none !important; width:45% !important; margin:0 auto !important; border:none !important; padding:25px 0 25px 4px !important; min-height: 100px  !important;}
.left_contents_two{display: none;}
.right_contents, .rightContainer{width:100% !important;}


/*company styles*/
.rightbarimg2, .rightbarimgs, .leftContainer, .rightbarimg3{width: 100% !important;text-align: center;}
.leftbar, .leftbars{ }
.profileDesc{height:auto;overflow:hidden;padding-bottom: 18px;}
.leftbarimg2 img, .leftbar img, .rightbarimgs img, .rightbarimg2 img, leftbarimg2 img, .rightbarimg3 img{float:none;} .profileDesc1{width:auto; margin:0;}


/*media styles*/
.mediaDesc{min-height:100px;}
/*contact styles*/
.profileDesc1{overflow:hidden;float:none;}
}

@media only screen and (min-width : 470px) and (max-width : 645px) {
/* Styles */
#ri_img2{width: 99%;}
.desc{width: 87.6% !important;}
.custom_img{display: none;}
.align{width: 100%;/*padding: 52px 0 0 4px !important;*/}
.portfolio_contents{width: 91%!important;}
/*div.pp_default .pp_content{padding-bottom: 60px;}*/
.portfolio_contents p.content{line-height: 16px !important;}
#access ul{padding-left: 0%;}
/*.menu-header{margin-left: 32px;}*/
.logo{background: none;}
#page
{
	width:100%;
}
/*.bodyContainer
 {
z-index: -1;
position: absolute;
width: 100%;
top: 100%;
left: 0px;
}*/
.logo
{
	height:36px;
	width:100%;
	padding:2.5% 0% 0.5% 0%;
	text-align:center;
	
}
.grayBG{min-height: 130px;}
#access ul li{width: 22%;}
/*select.sel{display:block; width:100%; padding:2% 2%; text-align:center; border:1px solid #ccc;} 
nav.navigation{display:none;}*/
nav.navigation{width:100%;}
nav#access ul { width:100%; float:none; }
/*.rightbarimgs{height: 332px;}*/
.leftbar,.leftbars { display:block;}
.leftbarimg2,.leftbarimgs ,#leftbarimg2{ display:block; }
.rightContainer { width:75%; }
.rightbarimg1 { float:left; width:57%; margin-left:0.4%;}
.rightbarimg3 { float:left; width:69.2%; margin-left:0.4%;}
.rightbarDesc { float:left; width:42%;  margin-left:0.4%; /*padding: 5.4% 5.8% 0% 5.8%;*/ font-size:12px;}
.rightbarDesc p { padding: 20px 20px 10px 20px; }
.rightbarimg2  { float:left;  margin-left:0.4%;min-height: 120px;/*width: 100%;*/}

.profileDesc
{
	float: none;
	background: #eaeaea;
	margin-left: 0%;
	color: #5e5d65;
	font-size: 9px;
	line-height: 19px;
	position:relative;	
}
.profileDesc1 {height:auto;/* width:57.5%; margin-left: 0.4%; font-size:9px; height: 295px;*/}
/*.profileDesc1 p { padding-bottom:15% !important; }*/
#mediaDesc { margin-left:0.4%;width: 88%;min-height: 196px; }

.profile .profileDesc
{
	width:100%;
	float: none;
	background: #eaeaea;
	padding: 3% 5.8% 3% 5.8%;
	margin-left: 0%;
	color: #5e5d65;
	font-size: 9px;
	line-height: 19px;
	height: 100%;
	position:relative;
	padding-top:5%;
	
}
.profile .profileDesc p { padding:4% 0% 0% 0%; }
.profile  .rightbarimg2 { display:none; }
.profile  .profileDesc1 { width:100%; margin-left: 0.4%; font-size:9px; }
.profile  .profileDesc1 p { padding:0% 0% 5% 0%; } 
.media .leftContainer
{
	width:100%!important;
	float:none;
}
.media #mediaDesc
{
	width:88.4%; height:100%;
}
.media .leftbarimg2 { display:none; }
.media #leftbarimg2 { display:none; }
.media .leftbarimgs { display:none; }
.media .rightContainer { width:100%; }
.media .rightbarimg2 { width:100%; margin-left:0%; }
.media .grayBG {
background: #eaeae9;
padding: 5% 18.4% 5% 5%;
min-height:100%;
}
.media .rightContainer { margin-top:0px; }
.media .leftbarimg2 { display:block; width:100%; text-align:center;}
.media #leftbarimg2 { display:block; width:100%; text-align:center;}
.media .leftbarimgs { display:block; width:100%; text-align:center;}
.media .leftbarimg2 img{ padding:0% 8%; margin:0 auto; float:none;}
.media #leftbarimg2 img{ padding:0% 8%; margin:0 auto; float:none;}
.media .leftbarimgs img{ padding:0% 8%; margin:0 auto; float:none;}
.media .mediaDesc 
{
background: #d6d6d5;
float: left;
width: 100%;
padding-top: 2.5%;
}
/*.media .leftSideNavigation ul {	padding: 0% 14.5% 10.4% 14.5%;}*/
.media #mediaDesc
{
	min-height:100%;
}


.portfolio  .leftContainer { width:100%!important; float:none; }
.portfolio .rightContainer { width:100%; float:none;}
.portfolio .leftContainer .leftbar { display:block; }
.portfolio .leftContainer .leftbars { display:block; }
.portfolio .mediaDesc { padding-top:7.5%; min-height:100%;}
/*.portfolio .leftSideNavigation ul { padding: 0% 14.5% 10.4% 14.5%; }*/
.portfolio .leftbarimg2 { display:none; }
.portfolio #leftbarimg2 { display:none; }
.portfolio .leftbarimgs { display:none; }
.verticalText { width: 6.6%; }
.blueBG  { display:none; }

.contact .rightbarimg2 { display:none; }
.contact .profileDesc1 { width:99.6%; }


.portfolio .popupLeftContainer { float:none; width:100%; }
.portfolio .popupBox { width:90%;  }
.portfolio .popupRightContainer  { float:none; width:100%;  margin-top:5%;}
.portfolio .popupLeftContainer h1 { font-size:30px; }
.portfolio .popupLeftContainer p { font-size:14px; }
.portfolio .popupclose { position: absolute; top: 1.8%; left: 84.7%;}
.portfolio .slidePagination ul { padding-top: 7.2%; float: left; width: 100%; }

}
@media only screen and (max-width : 470px)
{
  .responsiveSelectContainer select.responsiveMenuSelect, select.responsiveMenuSelect{margin-top:8px;}
  ul.sub-menu{padding-bottom:20px;}
  /*home page styles*/
  .leftbar, .leftbars{margin-top:2px;}
  .rightbarimgs img{float:none;}
  .profileDesc{min-height:232px;overflow: auto;}
  .profileDesc1{min-height:153px !important;height: auto;}
  .grayBG, #mediaDesc{display:none;}
  .media_second, .media_third{width:100%;position:static;border-top:1px solid #fff;}
}

@media only screen and (min-width : 303px) and (max-width : 470px) {
/* Styles */
.leftbar img, .leftbarimg2 img,  .rightbarimg1 img , .rightbarimg2  img ,.rightbarimg3 img, .popupRightContainer img{ opacity:0;float:left;/* height:auto;*/height: 100%;}
.desc{width: 87.6% !important;}
.custom_img{display: none;}
.align{width: 100%;/*padding: 52px 0 0 10px !important;*/}
body{overflow-x:hidden;}
.portfolio_contents{width: 82.8% !important;}
.portfolio_contents p.content,#pp_full_res .pp_inline p{font-size: 11px !important;}
.portfolio_contents p.content{line-height: 14px !important;}
.portfolio_contents h1{font-size: 21px !important;}
/*select.sel{display: block;
width: 100%;
padding: 2% 2%;
text-align: center;
border: 1px solid #ccc;}
.menu-header{display: none;}
#access  ul{width: 100%;padding-left: 0%;}
  
#access ul li{width: 23%;}
#page
{
	width:100%;
}*/
.bodyContainer
 {
z-index: -1;
position: absolute;
width: 100%;
top: 100%;
left: 0px;
}
/*.logo
{
	height:36px;
	width:100%;
	padding:2.5% 0% 3.5% 0%;
	text-align:center;
	float:none;
	background: none;
	
}*/
.rightbarimgs{text-align: center;width: 100%;}
select.sel{display:block; width:100%; padding:2% 2%; text-align:center; border:1px solid #ccc;margin-top: -6px;}
nav.navigation{display:none;}

.leftContainer, .leftbarimg2{width:100%;text-align:center;}
.leftContainer, #leftbarimg2{width:100%;text-align:center;}
.leftContainer, .leftbarimgs{width:100%;text-align:center;}
.leftbar img, .leftbarimg2 img,.leftbars img{float:none;}
.leftbar img, #leftbarimg2 img,.leftbars img{float:none;}
.leftbar img, .leftbarimgs img,.leftbars img{float:none;}
.leftbar,.leftbars { display:block;}
.leftbarimg2,.leftbarimgs,#leftbarimg2 { display:block; }
.rightContainer { width:100%; }
.rightbarimg1 { float:none; width:100%; margin-left:0%;}
.rightbarDesc { float:none; width:100%; margin-left:0%; }
.rightbarimg2  { display:none; }
.rightbarimg3 { width:100%; margin-left:0%; }

.profileDesc { width:auto; margin-left:0%;}
.profileDesc1 { margin-left:0%; width: auto;float: none;overflow: hidden;}
.rightbarDesc p
 {
	padding: 40px 40px 10px 40px;
}
#mediaDesc { width:88.5%; margin-left:0%; }


.media .leftContainer
{
	width:100%!important;
	float:none;
}
.media #mediaDesc
{
	width:88%;
}
/*.media .rightContainer { margin-top:0px !important; }*/
.media .leftbarimg2 { display:block; width:100%; text-align:center;}
.media #leftbarimg2 { display:block; width:100%; text-align:center;}
.media .leftbarimgs { display:block; width:100%; text-align:center;}
.media .leftbarimg2 img{ padding:0% 8%; margin:0 auto; float:none;}
.media #leftbarimg2 img{ padding:0% 8%; margin:0 auto; float:none;}
.media .leftbarimgs img{ padding:0% 8%; margin:0 auto; float:none;}
.media .leftContainer .leftbar { display:block; }
.media .leftContainer .leftbars { display:block; }
.media .mediaDesc { padding-top:4.5%; }
/*.media .leftSideNavigation ul { padding: 0% 14.5% 10.4% 14.5%; }*/
.media .rightContainerBG { background: #eaeae9; padding: 25px 20px 10px 20px; color: #5e5e5f; min-height: 583px;}

.portfolio  .leftContainer { width:100%!important; float:none; }
.portfolio .leftContainer .leftbar { display:block; }
.portfolio .leftContainer .leftbars { display:block; }
.portfolio .mediaDesc { padding-top:4.5%; min-height:100%;}
/*.portfolio .leftSideNavigation ul { padding: 0% 14.5% 10.4% 14.5%; }*/
.verticalText { width: 6.6%; }
.blueBG  { display:none; }

.portfolio .popupLeftContainer { float:none; width:100%; }
.portfolio .popupBox { width:90%;  }
.portfolio .popupRightContainer  { float:none; width:100%;  margin-top:5%;}
.portfolio .popupLeftContainer h1 { font-size:20px; }
.portfolio .popupLeftContainer p { font-size:13px; }
.portfolio .popupclose { position: absolute; top: 1.8%; left: 84.7%;}
.portfolio .slidePagination ul { padding-top: 7.2%; float: left; width: 100%; }

/*media page styles*/
.bodyContainer{min-height:100px;}
.leftSideNavigation ul{padding:0% 14.5% 20px 14.5%;}
.mediaDesc.sideBar{min-height: 83px !important;padding-bottom: 20px;}
.mediaDesc{min-height:100px !important;}
.media_full_content{min-height:100px;}
#media{padding-top:38px !important;height:auto !important;}
}

@media only screen and (min-width: 305px) and (max-width: 690px) {
	body {padding: 0;	}
	#page {	margin-top: 0; width:100%;	}
	#branding {	border-top: none;	}
  .logo{padding:0px !important; width:100% !important;text-align:center;}
	/*menu styles
	#access ul.menu{margin-top:0px;}
	#access ul li{width:107px !important;padding: 13px 0% 15px 0% !important;}
	#access ul li a{width:auto !important;}
  #access .sub-menu{text-align: left;}
  #access .sub-menu li a{width: auto !important;padding-left:18px;margin-left:0 !important;}  */
}
@media only screen and (max-width : 400px) {
.rightbarDesc{font-size:18px !important;}
}
@media only screen and (min-width : 223px) and (max-width : 305px) {
/* Styles */
.leftbar img, .leftbarimg2 img,  .rightbarimg1 img , .rightbarimg2  img ,.rightbarimg3 img, .popupRightContainer img{ opacity:0;float:left;/* height:auto;*/height: 100%;width: 100%;}
.desc{width: 87.6% !important;}
.custom_img{display: none;}
.portfolio_contents{width: 82.8% !important;}
.portfolio_contents p.content,#pp_full_res .pp_inline p{font-size: 10px !important;}
.portfolio_contents p.content{line-height: 14px !important;}
.portfolio_contents h1{font-size: 15px !important;}
.portfolio_contents p{margin:10px 0 5px 0 !important}
#page
{
	width:100%;
}

.logo
{
	height:36px;
	width:100%;
	padding:2.5% 0% 3.5% 0%;
	text-align:center;
	background: none;
	
}
select.responsiveMenuSelect{width: 213px !important}
  
select.sel{display:block; width:100%; padding:2% 2%; text-align:center; border:1px solid #ccc;}
nav.navigation{display:none;}

.leftContainer, .leftbarimg2,#leftbarimg2{width:100%;text-align:center;}
.leftContainer, .leftbarimgs{width:100%;text-align:center;}
.leftbar img, .leftbarimg2 img,.leftbars img,.leftbarimgs img,#leftbarimg2{float:none;}

.leftbar,.leftbars { display:block; width:100%;}
.leftbarimg2,.leftbarimgs ,#leftbarimg2 { display:block;  width:100%; margin-top:0.2%;}
.rightContainer { width:100%; }
.rightbarimg1 { float:none; width:100%; margin-left:0%; }
.rightbarDesc { float:none; width:100%; margin-left:0%; }
.rightbarimg2  { display:none; }
.rightbarimg3 { width:100%; margin-left:0%; }

.profileDesc { margin-left:0%;}
.profileDesc1 { margin-left:0%; width: auto;float: none;overflow: hidden;}
.rightbarDesc p
 {
	padding: 40px 25px 10px 25px;
}

.media .leftContainer
{
	width:100%!important;
	float:none;
}
/*.media .rightContainer { margin-top:-31px; }*/
.media #mediaDesc
{
	width:88%;
}
.media .leftbarimg2 ,.media .leftbarimgs,.media #leftbarimg2{ display:block; width:100%; }
.media .leftbarimg2 img,.media .leftbarimgs img,.media #leftbarimg2 img{ padding:0% 6%;}
.media .leftContainer .leftbar { display:block; }
.media .leftContainer .leftbars{display: block;}
.media .mediaDesc { padding-top:4.5%; }
.media .pageLink ul { margin-top:3.5%; }
.media .leftSideNavigation ul { padding: 0% 14.5% 10.4% 14.5%; }
.media .rightContainerBG { background: #eaeae9; padding: 15px 10px 10px 10px; color: #5e5e5f;}

.portfolio  .leftContainer { width:100%!important; float:none; }
.portfolio .leftContainer .leftbar { display:block; }
.portfolio .leftContainer.leftbars{display: block;}
.portfolio .mediaDesc { padding-top:4.5%; min-height:100%;}
.portfolio .leftSideNavigation ul { padding: 0% 14.5% 10.4% 14.5%; }
.verticalText { width: 8.074%; }
.blueBG  { display:none; }

.portfolio .popupLeftContainer { float:none; width:100%; }
.portfolio .popupBox { width:90%;  }
.portfolio .popupRightContainer  { float:none; width:100%;  margin-top:5%;}
.portfolio .popupLeftContainer h1 { font-size:20px; }
.portfolio .popupLeftContainer p { font-size:13px; }
.portfolio .popupclose { position: absolute; top: 1.8%; left: 84.7%;}
.portfolio .slidePagination ul { padding-top: 7.2%; float: left; width: 100%; 
}

header
{
	background:#454e61;
	padding:0% 3.5%;
	z-index:1111;
	overflow: hidden;
	height: 100px !important;
	opacity: 0;
}

}
.left_contents_one{
width:24.65%;;
min-height: 424px;
position: relative;
background: #D4D4D4;
float: left;}
.portfolio_content{
position: relative;}
.custom_img{
position: absolute;
right: 0;
top: 194px;}
.left_contents_two{
width: 100%;
min-height: 223px;
clear: both;
background: #646E88;}
.entry-title_one{
color:#637187;
font-family: Conv_PFDinTextPro-Regular;
margin: 0 0 15px 0;
font-size: 18px;}
.align{
float: left;
min-height: 370px;
padding: 52px 0 0 40px;
border-bottom: 2px solid #fff;
width: 85%;}
.align a{
font-family: Conv_PFDinTextPro-Regular;
color: #637084;
text-decoration: none;}
.align ul li{
list-style-type: none;
font: 12px/20px 'arial';}
.align a:hover{color:#444D5E;}
.align ul li.active a {
color:#444D5E;font-weight:bold;
font-family: Conv_PFDinTextPro-Regular;
}


.first_img{
width: 387px;
height: 270px;
background: #fff;
float: left;
position: absolute;
top: 0px;
border: 1px solid #fff;}
.right_contents{
float: left;
position: relative;
height: 647px;
width: 75.35%;}
.right_contents img{
width: 100%;
height: 647px;
border: none;
padding: 0;
margin: 0;
}

.second_img{
width: 422px;
position: absolute;
left: 389px;
top: 0px;
float: left;
background: #fff;
height: 270px;
border: 1px solid #fff;}
.third_img{
width: 238px;
height: 374px;
position: absolute;
top: 271px;
float: left;
background: #fff;
border: 1px solid #fff;
}
.fourth_img{
width: 571px;
height: 263px;
float: left;
position: absolute;
top: 271px;
left: 240px;
background: #fff;
border: 1px solid #fff;}
.fifth_img{
width: 147px;
height: 110px;
float: left;
position: absolute;
top: 536px;
left: 240px;
background: #fff;
border: 1px solid #fff;}
.sixth_img{
width: 422px;
background: #fff;
height: 110px;
position: absolute;
top: 536px;
left: 389px;
float: left;
border: 1px solid #fff;}
.child-thumb {
  position:absolute;
  top:0;
  left:0;
}
.child-thumb a {
  display: block;
  z-index:1;
  position: relative;
}
.child-inner {
  position: relative;
   width: 100%;
   height: 100%;
}
.child-inner .one {
  z-index:2;
}



@media screen and (max-width: 768px) {

  #header{
    overflow:visible !important;
    height:100px !important;
  }
  #access{width: 280px;margin-left:-140px;}
  #access a.toggleMenu{display:inline-block;width:249px;text-align: center;font-family: Conv_PFDinTextPro-Regular;font-size: 16px;}
    .active {
        display: block;
    }
    #access ul li{width:100% !important;text-align: center;}
    #access ul.menu{background:#373c4e !important; float:left;position:absolute;width: 279px !important;text-align: center;display: none;}
	 #access ul li a{margin:0px;text-align: center; display: inline !important; }
    #access > li {
        float: none !important;
    }
    #access > li > a {
        background-position: 95% 50%;
    }
    #access ul li ul li{padding-left: 0 !important;padding-right: 0 !important;background: gray;border-top: 1px solid #fff;}
    #access .sub-menu li a{padding-left: 0px;text-align: center !important;margin-left: 0 !important;}
    #access li li .parent {
        background-image: url("images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    #access ul {
        display: block;
        width: 100%;
    }
    #menu-menu li ul{
		position: absolute;
		left: -9999px !important;    	
    	}
#access ul ul{position: static;}
   #access > li.hover > ul.sub-menu , #access li li.hover ul.sub-menu {
        position: static !important;
    }
#menu-mainnavigation-1 > li.hover > ul, #menu-mainnavigation-1 li li.hover ul{position: static;}
    #menu-mainnavigation-1 li ul{position: absolute;left: -9999px !important;}

}

